.project-wrapper{
    padding-left:12% ;
    padding-top: 2%;
}
.project{
    margin-bottom: 5%;
    display: flex;
    height: 75vh;
    width: 70vw;
}
.project-video{
    height: 90%;
    width: 90%;
    padding: 10%;
    object-fit: cover;
}
.project-image{
  height: 50%;
  width: 60%;
  background-color: lightgray;
}
.ongoing-p{
    margin-top: 10%;
}
.ongoing-image{
    height: 70%;
    width: 60%;
    object-fit: cover;
}
.project-ongoing{
  display: flex;
  align-items: center;

    justify-content: center;
    /* padding-left: 5%; */
}
.project-desc{
    max-width: 65%;
}
.project-total-desc{
    padding-left: 5%;
}
.ongoing-main{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.project-ongoing {
    display: flex;
    flex: 0.4 0.6;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 2%;
    /* background-color: #2c2c2c; Adjust the background color as needed */
    border-radius: 10px;
    background-color: #2c2c2c;
  }
  .ongoing-details{
    flex: 0.4;
  }
  .ongoing-p1{
    margin-top: 18%;
  }
  .ongoing-main {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 8%;
    padding-left: 5%;
    height: 65vh;
  width: 70vw;
  border-radius: 50px;
    /* background-color: black; */
    
  }
  
  .ongoing-main > div {
    flex: 1;
  }
  
  .ongoing-image {
    width: 30vw;
    height: 40vh;
    /* border-radius: 10px; */
    margin-left: 20px;
    object-fit: fill;
  }
  
  .ongoing-p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ff7e35;
    margin-bottom: 20px;
  }
  
  .p1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff7e35;
    margin-bottom: 10px;
  }
  
  .p2 {
    font-size: 1rem;
    line-height: 1.6;
    color: #fff;
  }
  .ongoing-desc-p2{
    font-family: Futura Hv BT;
    font-size: 100%;
    font-weight: 400;
    line-height: 28.43px;
    text-align: left;
  }
  

@media(max-width:769px){
  .project{
    margin-bottom: 15%;
    display: flex;
    justify-content: space-around;
    height: 75vh;
    width: 70vw;
}
  .project-desc{
    max-width: 100%;
  }
  .p2 {
    font-size: 1rem;
    line-height: 1;
    color: #fff;
  }
  .project-image{
    height: 30vh;
    width: 40vw;
    object-fit: cover;
    background-color: lightgray;
  }
  .project-video{
    height: 90%;
    width: 90%;
    padding: 10%;
    object-fit: contain;
}
.ongoing-main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding-left: 5%;
  height: 65vh;
width: 70vw;
border-radius: 15px;
  /* background-color: black; */
  
}
.ongoing-p1{
  margin-top: 25%;
}
.ongoing-image{
  margin-left: 0px;
  width: 50vw;
  height: 40vh;
  /* border-radius: 10px; */
  object-fit: fill;
}
.ongoing-p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff7e35;
  margin-bottom: 20px;
}
.ongoing-p1-title{
  padding-top: 1%;
}
}