.main-div {
  margin: 15% 0px;
  height: 76vh;
  width: 70vw;
  background-color: #343235;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 2%;
}
.about-us-wrapper{
  padding-left: 13%;
  /* border: 1px solid red; */
}
.about-us-main{
  display: flex;
}

.left-side {
  /* flex: 0.7;  */
  color: white;
  padding: 50px;
}

.leftside-one {
  margin-bottom: 13%;
}

.leftside-two {
  margin-top: auto;
}

.right-side {
  flex: 0.3; /* Takes up 30% of the available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.right-side img {
  width: 200px;
  height: 200px;
}
.right-side p{
  max-width: 180px;
}
.aboutus-p1{
  font-family: 'Futura Hv BT';
font-size: 40px;
font-weight: 400;
line-height: 40.61px;
text-align: left;
color: #FF7E35;

}  
.aboutus-p2{
  font-family: Futura Bk BT;
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: white;

}

.about-image{
  height: 30vh;
  width: 20vw;
  object-fit:cover ;
}
.about-image-2{
height: 25vh;
width: 15vw;
object-fit: contain;
}
.about-leftside{
  display: flex;
  justify-content: center;
  flex-direction:column ;
}
.right-side-image{
  height: 200px;
  width: 180px;
  background-color: lightgray;
  border-radius: 2%;
  margin-bottom: 2%;

}
.second{
  margin-left: 10%;
}
.second-main-div{
  margin-top: 20%;
  height: 76vh;
  width: 70vw;
  background-color: #343235;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 2%;

}
.about-leftside-1{
display: flex;
justify-content: space-around;
/* align-items: center; */


}
.p-desc{
max-width: 75%;

}

@media(max-width:769px){
  .about-us-wrapper{
    /* padding-inline: 1rem; */
  }
  .main-div {
    margin-top: 10%;
    height: 76vh;
    width: 74vw;
    background-color: #343235;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 2%;
    border-radius: 2%;
  }
  .about-us-main{
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutus-p1{
  font-family: 'Futura Hv BT';
  font-size: 20px;
  font-weight: 400;
  line-height: 85%;
  text-align: left;
  color: #FF7E35;
  margin-bottom: 2%;
  
  }  
  .aboutus-p2{
  font-family: Futura Bk BT;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  color: white;
  
  }
  .right-side img {
    width: 48vw;
    height: 17vh;
    margin:2px;
    object-fit: cover;
  }
  .left-side {
    color: white;
    padding: 26px;
    
    
  }
  
  .right-side p{
    font-family: 'Futura Hv BT';
    font-size: 16px;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    padding:1% 8% 2% 8% ;
    max-width: 90%;
    
  }
  .about-image{
    height: 20vh;
    width: 30vw;
    object-fit:fill ;
  }
  .about-image-2{
  height: 20vh;
  width: 15vw;
  object-fit: contain;
  }
  .about-leftside{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    gap: 4%;
    padding: 15% 3%;
  }
  .p-desc{
    max-width: 76%;
  }
}


@media(min-width:769px) and (max-width:1024px){
  .main-div {
    margin-top: 10%;
    height: 76vh;
    width: 74vw;
    background-color: #343235;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 2%;
    border-radius: 2%;
  }

  .about-us-main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .aboutus-p1{
  font-family: 'Futura Hv BT';
  font-size: 35px;
  font-weight: 400;
  line-height: 85%;
  text-align: left;
  color: #FF7E35;
  margin-bottom: 2%;
  
  }  
  .aboutus-p2{
  font-family: Futura Bk BT;
  font-size: 25px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  color: white;
  
  }
  .right-side img {
    width: 48vw;
    height: 17vh;
    margin:2px;
    object-fit: cover;
  }
  .left-side {
    color: white;
    padding: 26px;
    
    
  }
  
  .right-side p{
    font-family: 'Futura Hv BT';
    font-size: 18px;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    padding:1% 8% 2% 8% ;
    max-width: 90%;
    
  }
  .about-image{
    height: 20vh;
    width: 30vw;
    object-fit:fill ;
  }
  .about-image-2{
  height: 20vh;
  width: 15vw;
  object-fit: contain;
  }
  .about-leftside{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    gap: 4%;
    padding: 15% 3%;
  }
  .p-desc{
    max-width: 76%;
  }
  .second-main-div{
    margin-top: 20%;
    height: 60vh;
    width: 74vw;
    background-color: #343235;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-radius: 2%;
  
  }

}