.home-wrapper {
  display: flex;
display: flex;
align-items: center;
justify-content: center;
}
.home-globe {
  z-index: 1;
}

.PartnerTestimonial-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  padding-left: 5%;
  /* padding: 50px; */
}

.PartnerTestimonial-text {
  text-transform: uppercase;
  font-family: Heavitas;
  font-size: 40px;
  font-weight: 400;
  line-height: 40.61px;
  text-align: left;
  color: #ff7e35;
  margin-bottom: 4%;
}
.PartnerTestimonial-image {
  height: 98px;
  width: 98px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: 18%;
  cursor: pointer;
  border: 2px solid grey;
}
.PartnerTestimonial-show {
  height: 65vh;
  width: 60vw;
  background-color: #343235;
  margin-left: 5%;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}
.PartnerTestimonial-main {
  padding: 3%;
  margin-top: 8%;
  margin-left: 5%;
}
.selected-image {
  height: 347px;
  width: 280px;
  border-radius: 15px;
}
.show:active {
  border: 3px solid #ff7e35;
}
.fields {
  padding: 3%;
}
.fields p {
  margin: 1.5% 0px 1% 0px;
}
.name {
  font-family: Futura Hv BT;
  font-size: 48px;
  font-weight: 400;
  line-height: 48.74px;
  text-align: left;
  color: #ffffff;
}
.field {
  font-family: Futura Hv BT;
  font-size: 20px;
  font-weight: 400;
  line-height: 20.31px;
  text-align: left;
  color: white;
}
.desc {
  font-family: Futura Hv BT;
  font-size: 25px;
  font-weight: 400;
  line-height: 25.38px;
  text-align: left;
  color: white;
}

@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: column;
    padding: 5% 0%;
  }
  .home-globe {
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .carosual-div {
    z-index: 200;
  }
  .PartnerTestimonial-main{
    padding: 1% 0% 0% 0%;
  }
  .PartnerTestimonial-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0%;
  }
  .PartnerTestimonial-text{
    font-size: 25px;
    margin-left: 2%;
    margin-top: 4%;
  }
  .PartnerTestimonial-images {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 2%;
    
  }
  .PartnerTestimonial-image {
    height: 58px;
    width: 58px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5%;
    margin-left: 30%;
    cursor: pointer;
    
  }
  .PartnerTestimonial-show {
    height: 64vh;
    width: 80vw;
    background-color: #343235;
    margin-left: 3%;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    /* padding: 3%; */
    position: relative;
  }
  .selected-image {
    /* position: absolute;
    top: 2%; */
    /* left: 10%; */
    height: 32vh;
    width: 66vw;
    margin: 20px 2px 0px 10px;
    border-radius: 20px;

    
  }
  .fields{
    font-family: Futura Hv BT;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.31px;
    text-align: left;
    color: white;
    
  }
  .name {
    font-family: Futura Hv BT;
    font-size: 30px;
    font-weight: 400;
    line-height: 28.74px;
    text-align: left;
    color: #ffffff;
  }
  .field {
    font-family: Futura Hv BT;
    font-size: 15px;
    font-weight: 400;
    line-height: 15.31px;
    text-align: left;
    color: white;
  }
  .desc {
    font-family: Futura Hv BT;
    font-size: 15px;
    font-weight: 400;
    line-height: 90%;
    text-align: left;
    color: white;
  }
}
@media (min-width: 769px) and (max-width: 820px) {
  .home-wrapper {
    flex-direction: column;
    padding: 3% auto;
  }
  .home-globe {
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .carosual-div {
    z-index: 200;
  }
}
