.how-we-work {
  padding: 8%;
  color: white;
}

.how-we-work-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.description-wrapper {
  flex: 1;
  margin-right: 40px;
}

.title {
  font-family: Heavitas;
  font-size: 40px;
  font-weight: 400;
  color: #ff7e35;
  margin-bottom: 20px;
}

.description {
  font-family: "Futura Hv BT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24.37px;
  text-align: left;

  max-width: 65%;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5%;
  padding-top: 8%;
}

.logo-item {
  text-align: center;
  margin-bottom: 20px;
  padding-right: 10%;
}
.image {
  margin-right: 2%;
}

.logo-item img {
  max-width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.logo-item p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

@media (max-width: 769px) {
  .how-we-work-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2% -4%;
  }
  .description {
    font-family: "Futura Hv BT";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.37px;
    text-align: left;

    max-width: 100%;
  }
}

@media(min-width:769px) and (max-width:1024px){
  .how-we-work{
    padding: 1% 8% 8% 8%;
  }
  .description {
    font-family: "Futura Hv BT";
    font-size: 25px;
    font-weight: 400;
    line-height: 24.37px;
    text-align: left;

    max-width: 100%;
  }
}