.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  /* background-color: #333; Example background color */
}

.navbar-company-title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-company-title-div img {
  max-width: 100%;
  height: auto;
  max-height: 60px; 
  object-fit: contain; 
}


.company-title-p {
  font-family: "Heavitas";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  color: #FF7E35;
}

.navbar-links {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  font-family: "futura-hv-bt", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}

.NavLink {
  color: white;
  text-decoration: none;
}

.active {
  color: #FF7E35;
}

.burgermenu {
  display: none;
  padding-right: 2%;
  cursor: pointer;
}

.burgermenu div {
  height: 0.3rem;
  width: 2rem;
  margin: 2px;
  background-color: white;
}

.burger-links {
  display: none;
  flex-direction: column;
  background-color: #333; /* Example background color */
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

.burger-links.show {
  display: none;
}

@media (max-width: 1000px) {
  .navbar-wrapper{
    position: sticky;
    top: 0px;
    left: 0px;
    padding-inline: 1rem;
    
  }
  .burgermenu {
    display: block;
  }

  .show-menu {
    display: none;
  }

  .burger-links.show {
    display: flex;
  }
}
