.footer-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #343235CC;
    padding-right: 5%
;
margin-top: 5%;
}
.icon{
    height: 100px;
    width: 100px;
    object-fit: fill;
}
@media(max-width:769px){
    .icon{
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}