
/* General Styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.news-p {
  text-transform: uppercase;
  /* 
  font-size: 24px;
  font-weight: 400;
  line-height: 24.37px;
  text-align: left; */
}

.news-wrapper {
  padding: 3% 0;
}

.news-p2 {
  
  font-size: 24px;
  font-weight: 400;
  line-height: 24.37px;
  text-align: left;
  padding: 1% 0%;
  color:white;
}

.news-link {
  text-decoration: underline;
  
  font-size: 24px;
  font-weight: 400;
  line-height: 24.37px;
  text-align: left;
  /* text-decoration: ; */
  color: white;
}

.news-image {
  background-color: transparent;
  height: 40vh;
  width: 50vw;
  
}
.prev-div{
  margin: 1%;

}

.news-poster {
  height: 50vh;
  width: 40vw;
  object-fit: fill;
  border-radius: 0px;
}
.news-month{
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.previou-p {
  text-transform: uppercase;
  padding: 12% 0;
}

.prev-news-image {
  height: 150px;
  width: 150px;
  background-color: lightgray;
  object-fit: cover;
  border-radius: 5%;

}

.previous-news-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog-image-1 {
  width: -webkit-fill-available;
  height: 100%;
  margin-right: 1%;
  border-radius: 5%;
}
/* Media Query for max-width 769px */
@media only screen and (max-width: 769px) {
  .news-p {
    font-size: 20px;
    line-height: 18px;
  }

  .news-wrapper {
    padding: 5% 0;
  }

  .news-p2 {
    font-size: 20px;
    line-height: 20px;
    padding: 2% 0;
  }

  .news-link {
  
    font-size: 18px;
    line-height: 20px;
    color: red;
    text-decoration: none;
  }
  .news-link-text{
    color: white;
    text-decoration: none;

  }

  .news-image {
    height: auto;
    width: 100%;
  }

  .news-poster {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .news-month{
    text-decoration: none;
    color: white;
  }

  .previou-p {
    font-size: 18px;
    padding: 5% 0;
  }

  .scroll-btn {
    cursor: pointer;
    margin: 40px 40px 40px 40px;
  }

  .prev-news-image {
    height: 100px;
    width: 100px;
  }

  .previous-news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .prev-news-image {
    margin: 10px;
  }
}


* {
  box-sizing: border-box;
}

@media(min-width:769px) and (max-width:1024px){
  
.news-poster {
  height: 35vh;
  width: 35vw;
  object-fit: fill;
  border-radius: 0px;
}
}