body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.app-container > img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  object-fit: fill;
  transform: scaleY(-1);
  transition: all 2s;
  
  animation: rotateBackground 30s linear infinite;
 
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
    height: 100vh;
    transition: all 2s;
    
   object-position: center;
  }
  to {
    transform: rotate(15deg);
   object-position: center;
   height: 100vh;
   transition: all 2s;
  }
}

@media only screen and (max-width: 769px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
